body {
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.content {
  display: flex;
  flex-direction: rows;
}

.spinner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.spinner > * {
  width: 100%;
  height: 100%;
}

mat-spinner {
  margin: auto;
}

.card-wrapper {
  /* margin: 0 15px 0 30%; */
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

mat-card {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

mat-slide-toggle {
  margin-left: 10px;
}

.filterForm {
  flex-basis: 25%;
  /* width: 25%; */
  height: 100vh;
  background-color: white;
  border-radius: 0 0 7px 7px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
}

.formSection {
  display: flex;
  flex-direction: column;
}

mat-chip-listbox {
  width: 100%;
  display: flex;
  flex-direction: row;
}

h2 {
  margin-top: 30px;
  margin-bottom: 0px;
  display: block;
}

#submit {
  padding-right: 3vw;
  width: 20%
}

button {
  width: 10vw;
  height: 7vh;
  float: right;
}

#title {
  margin-left: 0;
}

@media screen and (max-width: 1000px){
  .content {
    flex-direction: column;
  }

  .card-wrapper {
    flex-basis: 100%;
  }

  .filterForm {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    position: static;
  }

  .filterForm > h2 {
    margin-top: 0;
  }

  .formSection {
    margin: 0 10px;
  }

  #submit {
    padding-right: 0;
    margin: auto 0;
    height: 50px;
    flex-basis: 20%;
  }

  #submit > button {
    width: 100%;
  }
}
